.typed-animation {
    margin-left: 100px;
    color: #fff;
    position: absolute;
    display: inline-block;
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .typed-out {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.25rem solid #fff;
    font-size: 3rem;
    font-weight: 700;
    animation: typing 8s steps(40) infinite, blinking 1s infinite;
  }
  
  @keyframes typing {
    0%, 100% {
      width: 0;
    }
  
    50%, 90% {
      width: 100%;
    }
  }
  
  @keyframes blinking {
    0%, 100% {
      border-color: transparent;
    }
  
    50% {
      border-color: #fff;
    }
  }